USE [master]
GO
/****** Object:  Database [TokoRetailDB]    Script Date: 26/11/2025 20:52:52 ******/
CREATE DATABASE [TokoRetailDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TokoRetailDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TokoRetailDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TokoRetailDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TokoRetailDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TokoRetailDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TokoRetailDB]
GO
/****** Object:  Table [dbo].[KategoriProduk]    Script Date: 26/11/2025 20:52:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KategoriProduk](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[NamaKategori] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pelanggan]    Script Date: 26/11/2025 20:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelanggan](
	[PelangganID] [int] IDENTITY(1,1) NOT NULL,
	[NamaDepan] [varchar](50) NOT NULL,
	[NamaBelakang] [varchar](50) NULL,
	[Email] [varchar](100) NOT NULL,
	[NoTelepon] [varchar](20) NULL,
	[TanggalDaftar] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PelangganID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PesananDetail]    Script Date: 26/11/2025 20:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PesananDetail](
	[PesananDetailID] [int] IDENTITY(1,1) NOT NULL,
	[PesananID] [int] NOT NULL,
	[ProdukID] [int] NOT NULL,
	[Jumlah] [int] NOT NULL,
	[HargaSatuan] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PesananDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PesananHeader]    Script Date: 26/11/2025 20:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PesananHeader](
	[PesananID] [int] IDENTITY(50001,1) NOT NULL,
	[PelangganID] [int] NOT NULL,
	[TanggalPesanan] [datetime2](7) NULL,
	[StatusPesanan] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PesananID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produk]    Script Date: 26/11/2025 20:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produk](
	[ProdukID] [int] IDENTITY(1001,1) NOT NULL,
	[SKU] [varchar](20) NOT NULL,
	[NamaProduk] [varchar](150) NOT NULL,
	[Harga] [decimal](10, 2) NOT NULL,
	[Stok] [int] NOT NULL,
	[KategoriID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProdukID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProdukArsip]    Script Date: 26/11/2025 20:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProdukArsip](
	[ProdukID] [int] NOT NULL,
	[SKU] [varchar](20) NOT NULL,
	[NamaProduk] [varchar](150) NOT NULL,
	[Harga] [decimal](10, 2) NOT NULL,
	[TanggalArsip] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProdukID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KategoriProduk] ON 

INSERT [dbo].[KategoriProduk] ([KategoriID], [NamaKategori]) VALUES (3, N'Buku')
INSERT [dbo].[KategoriProduk] ([KategoriID], [NamaKategori]) VALUES (1, N'Elektronik')
INSERT [dbo].[KategoriProduk] ([KategoriID], [NamaKategori]) VALUES (2, N'Pakaian')
SET IDENTITY_INSERT [dbo].[KategoriProduk] OFF
GO
SET IDENTITY_INSERT [dbo].[Pelanggan] ON 

INSERT [dbo].[Pelanggan] ([PelangganID], [NamaDepan], [NamaBelakang], [Email], [NoTelepon], [TanggalDaftar]) VALUES (1, N'Shindy', N'Purwanty', N'sshindypurwanty@gmail.com', N'081320404426', CAST(N'2025-11-07' AS Date))
INSERT [dbo].[Pelanggan] ([PelangganID], [NamaDepan], [NamaBelakang], [Email], [NoTelepon], [TanggalDaftar]) VALUES (2, N'Miko', N'Hafizh', N'hafizhmiko@gmail.com', N'085878752595', CAST(N'2025-11-07' AS Date))
SET IDENTITY_INSERT [dbo].[Pelanggan] OFF
GO
SET IDENTITY_INSERT [dbo].[PesananHeader] ON 

INSERT [dbo].[PesananHeader] ([PesananID], [PelangganID], [TanggalPesanan], [StatusPesanan]) VALUES (50001, 1, CAST(N'2025-11-26T20:22:38.3800000' AS DateTime2), N'Baru')
SET IDENTITY_INSERT [dbo].[PesananHeader] OFF
GO
SET IDENTITY_INSERT [dbo].[Produk] ON 

INSERT [dbo].[Produk] ([ProdukID], [SKU], [NamaProduk], [Harga], [Stok], [KategoriID]) VALUES (1001, N'ELEC-001', N'Laptop Pro 14 inch', CAST(16500000.00 AS Decimal(10, 2)), 50, 1)
SET IDENTITY_INSERT [dbo].[Produk] OFF
GO
INSERT [dbo].[ProdukArsip] ([ProdukID], [SKU], [NamaProduk], [Harga], [TanggalArsip]) VALUES (1002, N'PAK-001', N'Kaos Polos Putih', CAST(75000.00 AS Decimal(10, 2)), CAST(N'2025-11-26' AS Date))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Kategori__D9B83F300C8EEFA8]    Script Date: 26/11/2025 20:52:53 ******/
ALTER TABLE [dbo].[KategoriProduk] ADD UNIQUE NONCLUSTERED 
(
	[NamaKategori] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Pelangga__A9D1053464E9D6C0]    Script Date: 26/11/2025 20:52:53 ******/
ALTER TABLE [dbo].[Pelanggan] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Produk__CA1ECF0D94AD176B]    Script Date: 26/11/2025 20:52:53 ******/
ALTER TABLE [dbo].[Produk] ADD UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pelanggan] ADD  DEFAULT (getdate()) FOR [TanggalDaftar]
GO
ALTER TABLE [dbo].[PesananHeader] ADD  DEFAULT (getdate()) FOR [TanggalPesanan]
GO
ALTER TABLE [dbo].[ProdukArsip] ADD  DEFAULT (getdate()) FOR [TanggalArsip]
GO
ALTER TABLE [dbo].[PesananDetail]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Header] FOREIGN KEY([PesananID])
REFERENCES [dbo].[PesananHeader] ([PesananID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PesananDetail] CHECK CONSTRAINT [FK_Detail_Header]
GO
ALTER TABLE [dbo].[PesananDetail]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Produk] FOREIGN KEY([ProdukID])
REFERENCES [dbo].[Produk] ([ProdukID])
GO
ALTER TABLE [dbo].[PesananDetail] CHECK CONSTRAINT [FK_Detail_Produk]
GO
ALTER TABLE [dbo].[PesananHeader]  WITH CHECK ADD  CONSTRAINT [FK_Pesanan_Pelanggan] FOREIGN KEY([PelangganID])
REFERENCES [dbo].[Pelanggan] ([PelangganID])
GO
ALTER TABLE [dbo].[PesananHeader] CHECK CONSTRAINT [FK_Pesanan_Pelanggan]
GO
ALTER TABLE [dbo].[Produk]  WITH CHECK ADD  CONSTRAINT [FK_Produk_Kategori] FOREIGN KEY([KategoriID])
REFERENCES [dbo].[KategoriProduk] ([KategoriID])
GO
ALTER TABLE [dbo].[Produk] CHECK CONSTRAINT [FK_Produk_Kategori]
GO
ALTER TABLE [dbo].[PesananDetail]  WITH CHECK ADD  CONSTRAINT [CHK_JumlahPositif] CHECK  (([Jumlah]>(0)))
GO
ALTER TABLE [dbo].[PesananDetail] CHECK CONSTRAINT [CHK_JumlahPositif]
GO
ALTER TABLE [dbo].[PesananHeader]  WITH CHECK ADD  CONSTRAINT [CHK_StatusPesanan] CHECK  (([StatusPesanan]='Batal' OR [StatusPesanan]='Selesai' OR [StatusPesanan]='Proses' OR [StatusPesanan]='Baru'))
GO
ALTER TABLE [dbo].[PesananHeader] CHECK CONSTRAINT [CHK_StatusPesanan]
GO
ALTER TABLE [dbo].[Produk]  WITH CHECK ADD  CONSTRAINT [CHK_HargaPositif] CHECK  (([Harga]>=(0)))
GO
ALTER TABLE [dbo].[Produk] CHECK CONSTRAINT [CHK_HargaPositif]
GO
ALTER TABLE [dbo].[Produk]  WITH CHECK ADD  CONSTRAINT [CHK_StokPositif] CHECK  (([Stok]>=(0)))
GO
ALTER TABLE [dbo].[Produk] CHECK CONSTRAINT [CHK_StokPositif]
GO
USE [master]
GO
